<!-- Botão de Carrinho -->
<button class="btn btn-lg btn-warning text-white shadow-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#meuOffcanvas" (click)="pegarProduto()">
  <i class="bi bi-cart-fill me-2"></i> Abrir Carrinho
</button>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end shadow-lg" tabindex="-1" id="meuOffcanvas" aria-labelledby="meuOffcanvasLabel">
  <div class="offcanvas-header bg-primary text-white">
    <h5 class="offcanvas-title" id="meuOffcanvasLabel">Carrinho</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 w-50" *ngFor="let produto of produtosSelecionados">
          <div class="card h-100 shadow-sm border-0">
            <img [src]="produto.img" class="card-img-top" alt="Imagem do produto">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title text-center">{{ produto.nome }}</h5>
              <p class="card-text text-muted text-center">Quantidade: {{ produto.quantidade }}</p>
              <button (click)="removerItem(produto)" class="btn btn-danger w-100 mt-auto">Remover</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 text-end">
      <h5>Total: {{ getTotal() | currency:'BRL' }}</h5>
    </div>
    <button (click)="levarTotal()" class="btn btn-lg btn-outline-primary w-100 mt-3">Comprar</button>
  </div>
</div>
