<!-- Botão para abrir o Offcanvas -->
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#meuOffcanvas">
  Abrir Offcanvas
</button>

<!-- Estrutura do Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="meuOffcanvas" aria-labelledby="meuOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="meuOffcanvasLabel">Carrinho</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let produto of produtosSelecionados">
          <div class="card">
            <img [src]="" class="card-img-top" alt="Imagem do produto">
            <div class="card-body">
              <h5 class="card-title">{{ produto.nome }}</h5>
              <p class="card-text">Preço: R$ {{ produto.preco }}</p>
              <p class="card-text">Quantidade: {{ produto.quantidade }}</p>
              <button (click)="remover(produto)" class="btn btn-danger">Remover</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
