<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3" *ngFor="let produto of produtos">
      <div class="card mb-4 shadow-lg rounded-4 overflow-hidden position-relative border-0 animated-card">
        <img [src]="produto.img" class="card-img-top rounded-top" alt="Imagem do produto" style="object-fit: cover; height: 220px;">
        <div class="card-body bg-light text-center">
          <h5 class="card-title fw-bold text-dark animated-text">
            <i class="bi bi-box-seam text-primary"></i> {{ produto.nome }}
          </h5>
          <p class="card-text text-secondary mb-3 animated-text">
            Preço: <span class="fw-semibold text-success">R$ {{ produto.preco }}</span>
          </p> 
          <button (click)="enviarProduto(produto)" class="btn btn-success w-100 fw-bold rounded-pill shadow-sm animated-button">
            <i class="bi bi-cart-plus-fill me-2"></i> Adicionar ao Carrinho
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
