<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-3" *ngFor="let produto of produtos">
      <div class="card mb-4"> 
        <img [src]="produto.img" class="card-img-top" alt="Imagem do card">
        <div class="card-body">
          <h5 class="card-title">{{ produto.nome }}</h5>
          <p class="card-text">Preço: R$ {{ produto.preco }}</p> 
          <button (click)="transferir(produto)" class="btn btn-primary">Adicionar</button>
          
        </div>
        
      </div>
    </div>
  </div>
</div>
