<div class="container mt-3">
  <!-- Pesquisa no topo centralizado -->
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <app-pesquisa></app-pesquisa>
    </div>
  </div>

  <!-- Catálogo no meio e Carrinho à direita -->
  <div class="row mt-4">
    <div class="col-md-8 d-flex justify-content-center">
      <app-catalogo></app-catalogo>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <app-carrinho></app-carrinho>
    </div>
  </div>
</div>
