
  .input-group {
    max-width: 500px; /* Largura máxima */
    margin: 0 auto; /* Alinha ao centro */
  }

  .form-control {
    transition: border-color 0.3s ease; /* Suaviza a transição da borda */
  }

  .form-control:focus {
    border-color: #0056b3; /* Cor da borda no foco */
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5); /* Sombra para o foco */
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  .input-group .form-control, .input-group .btn {
    border-radius: 50px; /* Deixa o campo e botão com bordas arredondadas */
  }
